body {
  width: 100%;
  height: 100vh;
  background-color: #333;  
}
.container {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.container p, a {
  color: #fff;
}

a {
  text-decoration: underline;
}

.hide-item {
  display:none;
}

.btn-toggle {
  text-transform: uppercase;
  margin: 0 auto;
}